/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 /* Card CSS */
.category-card {
    width: 100px;
    height: 100px;
    background-color: red;
    color: green;
}

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
    background-color: #205c6e;
  }
  
  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }

  /* Phone screens */
  @media(max-width: 990px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }

    .lisbon-restaurants-logo img {
        width: 80%;
    }
  }
  
  /* Laptop screens */
  @media(min-width: 990px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }

    .lisbon-restaurants-logo img {
        width: 50%;
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  /* End of card CSS */

  .lisbon-restaurants-logo {
      background-color: #205c6e;
      padding-top: 40px;
  }

  .lisbon-restaurants-logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .lisbon-restaurants-category-header {
    background-color: #205c6e;
    padding-top: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .lisbon-restaurants-category-header .back-arrow {
    width: 50px;
    margin: auto 0 auto 20px;
    justify-self: start;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

  .lisbon-restaurants-category-header .category-header {
    color: #f5bb40;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-right: 50px;
  }